albumentations==1.2.0
focal_loss==0.0.7
focal_loss_torch==0.0.9
numpy==1.22.4
opencv_python_headless==4.6.0.66
pandas==1.4.2
scikit_learn==1.1.1
timm==0.5.4
torch==1.11.0
torchvision==0.12.0
tqdm==4.64.0
warmup_scheduler==0.3
